<form method="POST" action="/recipes"> 
    <label>Recipe Name:</label>
    <input type="text" id="name" name="name">
    <label>Recipe Ingredients: </label>
    <input type="text" id="ingredients" name="ingredients">
    <label>Recipe Cook Time: </label>
    <input type="text" id="cook_time" name="cook_time">

    <input type="submit" name="submit" value="submit">
</form>