<h2>Recipe:</h2>
<p>Recipe Name: <%= @recipe.name %></p>
<p>Recipe Ingredients: <%= @recipe.ingredients %></p>
<p>Recipe Cook Time: <%= @recipe.cook_time %> minutes</p>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="submit" type="submit" name="delete" value="delete">
</form>